{{!
    @template mod_lgcplayground/view

    Moodle-native host for the interactive Playground application.
}}
<div class="mod-lgcplayground-shell">
    {{#showprogressreport}}
    <div class="mb-3 text-end">
        <a class="btn btn-outline-secondary" href="{{progressreporturl}}">{{progressreportlabel}}</a>
    </div>
    {{/showprogressreport}}
    {{#react}}
    {
        "component": "@moodle/lms/mod_lgcplayground/view",
        "props": {{{reactprops}}},
        "id": "lgcplayground-view-{{cmid}}",
        "class": "mod-lgcplayground-react-root"
    }
    <div class="mod-lgcplayground-loading">{{loading}}</div>
    {{/react}}
</div>
